.login{
    width: 450px;
    padding:30px 60px;
    border-radius: 10px;
    border:1px solid #9d9d9d;
    background: #fff;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}